@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    position: relative;
    font-family: "Roboto Condensed", sans-serif;
    background: #f8f8f8;
    line-height: 1.5;
    --bg-light: #f8f8f8;
    --primary-dark: #a8482b;
    --primary: #643110;
    --primary-light: #a0553e;
}

p {
    color: #606060;
}

.hidden {
    display: none !important;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.map {
    min-height: 100vh;
}

main {
    position: relative;
}

.block {
    background: white;
    border: 1px solid lightgray;
    border-radius: 14px;
    padding: 18px 20px;
}

.btn {
    cursor: pointer;
    color: black;
    padding: 11px 25px;
    border-radius: 4px;
    font-weight: bold;
    border: none;
    transition: 0.2s linear background;
}

.btn:hover {
    background: #d5d5d5;
}

.btn-smaller {
    padding: 6px 16px;
    font-size: 12px;
    color: #686868;
    border-color: rgba(0, 0, 0, 0.1);
}

.btn-primary {
    color: white;
    background: var(--primary);
    border: 1px solid var(--primary-dark);
}

.btn-primary:hover {
    background: #703e2f;
    border-color: #703e2f;
}

.btn-wide {
    width: 100%;
}

/*=== Common UI ===*/

.menu {
    position: fixed;
    left: 0;
    top: 0;
    margin: 20px 0 20px 20px;
    width: 76px;
    border-left: none;
    background-color: var(--primary-light);
    background-image: linear-gradient(119deg, #643110, #410808);
    z-index: 200;
    padding: 20px 9px;
    border-radius: 12px;
    box-shadow: 0 0 11px -2px rgba(0, 0, 0, 0.3);
}

.logo {
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}

.logo-big span {
    display: block;
    color: #7f7f7f;
    font-size: 12px;
}

.logo-big svg {
    display: block;
}

.main-logo {
    text-align: center;
    color: white;
    font-size: 11px;
    margin: 0 0 40px;
}

.menu-links {
    padding-left: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.menu-links li:not(:last-of-type) {
    margin-bottom: 26px;
}

.menu-links a {
    display: inline-block;
    text-decoration: none;
    color: #f8f8f8;
    font-size: 13px;
}

.menu-links svg {
    width: 100%;
    height: 28px;
}

.greeting {
    margin-top: 0;
}

.page-content {
    padding: 30px 90px 30px 120px;
}

.row {
    display: flex;
}

.columns > div:last-of-type {
    margin-left: 40px;
}

/*=== Map */

#dog-popup {
    position: absolute;
    left: 400px;
    top: 200px;
    padding: 14px 25px;
    border-radius: 5px;
    background: var(--bg-light);
    display: flex;
    box-shadow: 0 0 11px -2px rgba(0, 0, 0, 0.3);
    transform-style: preserve-3d;
    margin-top: -20px;
    user-select: none;
}

#dog-popup::before {
    content: "";
    transform: translateZ(-1px);
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--bg-light);
}

#dog-popup > div {
    position: relative;
    margin-right: 22px;
    max-width: 52px;
}

#dog-popup > div:last-of-type {
    margin-right: 0;
}

#dog-popup .sex-icon {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: -5px;
    right: -5px;
}

#dog-popup .age {
    position: absolute;
    display: block;
    left: -8px;
    top: 38px;
    padding: 2px 4px 1px;
    background: #e0e0e0;
    color: black;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1;
}

#dog-popup .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 12px;
}

#dog-popup .breed {
    text-align: left;
    font-size: 11px;
    display: block;
    line-height: 1.2;
}

/*====*/

.block-title {
    font-size: 18px;
}

.block-header {
    align-items: center;
}

.block-header .icon {
    width: 22px;
}

.dog-display {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.info-header {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.dog-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}

.dogs-container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    margin-right: 20px;
    margin-bottom: 20px;
}

.features {
    margin: 20px 0 25px;
}

.feature {
    display: flex;
    align-items: center;
    margin-right: 25px;
    font-size: 14px;
}

.feature .icon {
    width: 20px;
    height: 20px;
}

.dog-age-wrap .icon {
    margin-right: 10px;
    margin-bottom: 5px;
}

.add-block {
    position: relative;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    min-height: 120px;
}

.add-block svg {
    position: absolute;
    width: 120px;
    height: 120px;
    fill: #e2e2e2;
}

.add-block .btn {
    position: relative;
    z-index: 100;
}

/*==========*/

.modal {
    top: 200px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 500px;
    margin: 0 auto;
    padding: 50px 40px 30px;
}

.close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    background: transparent;
    border: none;
    color: grey;
    cursor: pointer;
    padding: 2px 0;
}

.modal-title {
    margin-top: 0;
    text-align: center;
}

/*=======*/

.label {
    display: inline-block;
    margin-bottom: 5px;
    width: 100%;
}

.input-tip {
    font-size: 12px;
    color: darkgrey;
    margin-bottom: 0;
}

.btn-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    align-items: flex-start;
}

.btn-row button:not(:last-of-type) {
    margin-right: 8px;
    margin-bottom: 8px;
}

.form-container {
    width: 350px;
    margin: 0 auto;
}

input[type=text],
input[type=date],
input[type=email],
input[type=password],
input[type=number],
select {
    padding: 8px 10px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: white;
}

select {
    padding-top: 8px;
    padding-bottom: 8px;
}

.centered {
    justify-content: center;
}

.switcher {
    display: flex;
}

.switcher-btn {
    display: block;
    padding: 0 8px;
    border: 3px solid grey;
    cursor: pointer;
    height: 34px;
    opacity: 0.5;
}

.switcher-btn .icon {
    width: 26px;
}

input[type=radio]:checked + .switcher-btn {
    opacity: 1;
}

input[type=radio]:checked + .switcher-btn:first-of-type {
    box-shadow: 0 0 12px -2px #ffa6a6;
}

input[type=radio]:checked + .switcher-btn:last-of-type {
    box-shadow: 0 0 12px -2px #8ad4e4;
}

.switcher-btn:first-of-type {
    background: #ffdfe5;
    border-color: pink;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.switcher-btn:last-of-type {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: -3px;
    background: #dcf6ff;
    border-color: #acdfff;
}

.form-control {
    margin-bottom: 18px;
}

.form-error {
    color: red;
    font-size: 14px;
    margin-top: 0;
}

.form-tip a {
    color: black;
}

/*---*/

.alerts-container {
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 400px;
}

.alert {
    background: var(--bg-light);
    padding: 12px 20px;
    text-align: center;
    margin: 0 0 14px;
    border-radius: 4px;
    opacity: 0.8;
    transition: 0.4s linear all;
    user-select: none;
}

.alert:hover {
    opacity: 1;
}

.routes-column, .route-form {
    transition: 0.2s linear left;
}

.routes-column {
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px 20px 20px 120px;
    width: 340px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: var(--bg-light);
    border-right: 1px solid lightgrey;
    overflow: scroll;
}

.routes-column::-webkit-scrollbar-track {
    background-color: transparent;
}

.routes-column::-webkit-scrollbar {
    width: 10px;
}

.routes-column::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: #e1e1e1;
}

.routes-column.closed {
    left: -400px;
}

.routes-column .add-block {
    min-width: 100px;
}

.route-form {
    position: fixed;
    left: 120px;
    top: 30px;
    z-index: 100;
}

.route-item, .routes-column .add-block {
    margin-right: 0;
}

.route-item > .row:first-of-type {
    align-items: center;
}

.route-item .edit-btn {
    padding: 5px !important;
    margin-left: auto;
}

.route-form.closed {
    left: -400px;
}

.title {
    margin: 0;
}

.info-title {
    font-size: 10px;
    text-transform: uppercase;
    color: grey;
}
