<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head('Мої собаки')"></div>
<body>
<div th:replace="fragments/menu :: menu(isSignedIn = true)"></div>

<main class="page-content">

    <header th:replace="fragments/greeting :: greeting(${userEmail})"></header>

    <h2 class="page-title">Мої собаки</h2>

    <div class="dogs-container">
        <article class="block item dog-item" th:if="${dogs}" th:each="dog : ${dogs}">
            <div class="row block-header">
                <h2 class="title block-title" th:text="${dog.name}"></h2>
                <img src="img/female.svg" class="icon" th:if="${dog.sex == 'f'}"/>
                <img src="img/male.svg" class="icon" th:if="${dog.sex == 'm'}"/>
            </div>

            <div class="features row">
                <div class="feature dog-breed-wrap">
                    <img th:if="${dog.breed.pic}" th:src="${dog.breed.pic}" class="dog-avatar"/>
                    <span class="dog-breed" th:text="${dog.breed.name}"></span>
                </div>

                <div class="feature dog-age-wrap">
                    <img src="img/cake.svg" class="icon"/>
                    <span class="dog-breed" th:switch="${dog.age}">
                        <span th:case="0">Менше року</span>
                        <span th:case="1">1 рік</span>
                        <span th:case="*" th:text="${dog.age} + ' років'"></span>
                    </span>
                </div>
            </div>
            <div class="row btn-row right">
                <button class="btn btn-smaller delete-dog-btn" th:data-id="${dog.id}">Видалити</button>
            </div>
        </article>

        <article class="block dog-item item add-block">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 0 24 24" width="36px"
                 fill="#000000">
                <path d="M0 0h24v24H0z" fill="none"/>
                <circle cx="4.5" cy="9.5" r="2.5"/>
                <circle cx="9" cy="5.5" r="2.5"/>
                <circle cx="15" cy="5.5" r="2.5"/>
                <circle cx="19.5" cy="9.5" r="2.5"/>
                <path
                        d="M17.34 14.86c-.87-1.02-1.6-1.89-2.48-2.91-.46-.54-1.05-1.08-1.75-1.32-.11-.04-.22-.07-.33-.09-.25-.04-.52-.04-.78-.04s-.53 0-.79.05c-.11.02-.22.05-.33.09-.7.24-1.28.78-1.75 1.32-.87 1.02-1.6 1.89-2.48 2.91-1.31 1.31-2.92 2.76-2.62 4.79.29 1.02 1.02 2.03 2.33 2.32.73.15 3.06-.44 5.54-.44h.18c2.48 0 4.81.58 5.54.44 1.31-.29 2.04-1.31 2.33-2.32.31-2.04-1.3-3.49-2.61-4.8z"/>
            </svg>
            <button class="btn btn-primary" id="btn-add-dog">Додати</button>
        </article>
    </div>

    <article class="block modal delete-modal hidden" id="delete-dog-modal">
        <button class="close-btn">Закрити</button>

        <h4 class="modal-title">Ви впевнені, що хочете видалити?</h4>
        <div class="row btn-row centered">
            <button class="btn btn-primary" id="btn-delete-dog">Видалити</button>
        </div>
    </article>

    <article class="block modal add-modal hidden" id="add-dog-modal">
        <button class="close-btn">Закрити</button>

        <form class="dog-form" name="createDog" onsubmit="event.preventDefault(); return false;">

            <div class="row columns">
                <div class="form-control">
                    <label class="label" for="dog-name">Імʼя</label>
                    <input type="text" id="dog-name" name="dog-name"/>
                    <p class="input-tip">Не буде відображатися на загальній мапі</p>
                </div>

                <div class="form-control">
                    <span class="label" style="color: white">Стать</span>

                    <div class="switcher">
                        <input type="radio" name="dog-sex" id="sex-female" value="female" class="visually-hidden" checked>
                        <label class="switcher-btn" for="sex-female">
                            <img src="img/female.svg" class="icon">
                        </label>

                        <input type="radio" name="dog-sex" id="sex-male" value="male" class="visually-hidden">
                        <label class="switcher-btn" for="sex-male">
                            <img src="img/male.svg" class="icon">
                        </label>
                    </div>
                </div>
            </div>

            <div class="row columns">
                <div class="form-control" th:if="${breeds}" >
                    <label class="label" for="dog-breed">
                        Порода
                    </label>

                    <select name="dog-breed" id="dog-breed">
                        <option th:each="breed : ${breeds}" th:value="${breed.id}" th:text="${breed.name}"></option>
                    </select>
                </div>

                <div class="form-control">
                    <label class="label" for="dog-year-born">Рік народження</label>
                    <input type="number" min="1996" max="2021" placeholder="2010" name="dog-year-born" id="dog-year-born"/>
                </div>
            </div>

            <p class="form-error" id="dog-form-errors"></p>

            <div class="row btn-row centered">
                <button class="btn btn-primary btn-smaller" type="submit" id="btn-save-dog">Зберегти</button>
            </div>
        </form>
    </article>
</main>

<script src="js/dogs.js"></script>
</body>
</html>
