<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/mapHead :: head('Мої маршрути')"></head>
<body>

<nav th:replace="fragments/menu :: menu(isSignedIn = true)"></nav>

<main>
  <div id="map" class="map"></div>

  <article class="route-modal block closed" id="route-form">
    <h5 class="title info-title action" id="new-route-label">Новий маршрут</h5>
    <h2 class="title route-name">Маршрут #<span id="new-route-index">1</span></h2>

    <p id="route-error" class="form-error"></p>

    <div class="row btn-row">
      <button class="btn btn-smaller route-form-save-btn" id="route-form-cancel-btn">Скасувати</button>
      <button class="btn btn-smaller route-form-save-btn" id="route-form-save-btn">Зберегти</button>
    </div>
  </article>

  <article class="route-modal block closed" id="route-view">
    <h2 class="title route-name">Маршрут #<span id="route-index">1</span></h2>

    <div class="row btn-row">
      <button class="btn btn-smaller" id="route-back-btn">Назад</button>
    </div>
  </article>

  <aside class="routes-column" id="routes-sidebar">
    <header th:replace="fragments/greeting :: greeting(${userEmail})"></header>

    <h2 class="page-title">Мої маршрути</h2>
    <article class="route-item item block" th:if="${routes}" th:each="route : ${routes}" th:data-id="${route.id}">
      <div class="row">
        <h2 class="title block-title" th:text="'Маршрут #' + ${routeStat.count}"></h2>
        <button class="btn btn-smaller view-btn">Дивитись</button>
      </div>
      <div class="features row">
        <div class="feature">
          <span><span class="route-length" th:text="${route.length}"></span>м </span>
        </div>
      </div>
      <div class="row btn-row">
        <button class="btn btn-smaller delete-btn">Видалити</button>
      </div>
    </article>

    <article class="block item add-block">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#000000">
        <path d="M0 0h24v24H0V0z" fill="none"/>
        <path
          d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-5.5-2.5l7.51-3.49L17.5 6.5 9.99 9.99 6.5 17.5zm5.5-6.6c.61 0 1.1.49 1.1 1.1s-.49 1.1-1.1 1.1-1.1-.49-1.1-1.1.49-1.1 1.1-1.1z"/>
      </svg>
      <button class="btn btn-primary" id="btn-add-route">Додати</button>
    </article>
  </aside>

  <article class="block modal delete-modal hidden" id="delete-route-modal">
    <button class="close-btn">Закрити</button>

    <h4 class="modal-title">Ви впевнені, що хочете видалити цей маршрут?</h4>
    <div class="row btn-row centered">
      <button class="btn btn-primary" id="btn-confirm-delete">Видалити</button>
    </div>
  </article>
</main>
<script th:inline="javascript">
    const colors = ["#643110", "#000", "#624545", "#4c2515"];
    const myRoutes = [[${routes}]];
    myRoutes.forEach((route, index) => {
        myRoutes[index].color = colors[index%(colors.length - 1)];
    });
</script>
<script type="text/javascript" src="js/mapInit.js"></script>
<script type="text/javascript" src="js/myRouteUI.js"></script>
</body>
</html>
